<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Azure Container App Functions</title>
    <base href="/" />
    <script src="https://cdn.tailwindcss.com"></script>
    <HeadOutlet />
    <link href="css/app.css" rel="stylesheet" />
</head>
<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
